body {
    margin: 0;
    padding: 0;
    background-image: url("images/abg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
  }
  
  .part {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  
  #part-1 {
    background-color: rgba(0, 0, 0, 0.85);
  }
  
  #part-2 {
    background-image: url("images/a22.png");
    background-color: transparent;
  }
  
  #part-2:hover::before {
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  #part-3 {
    background-image: url("images/a23.png");
    background-color: transparent;
  }
  
  #part-3:hover::before {
    background-color: rgba(0, 0, 0, 0.25);
  }
  
  #part-4 {
    background-color: rgba(0, 0, 0, 0.85);
    flex: 2;
  }
  
  #part-2::before,
  #part-3::before,
  #part-4::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    transition: background-color 0.5s ease;
  }
  
  #part-4:hover::before {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  #video-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
    z-index: 9999;
    display: none;
    overflow: hidden;
  }  
  
  #video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 9999;
  }
  
  #video-container.active {
    display: block;
    animation: zoomIn 0.5s forwards;
  }
  
  @keyframes zoomIn {
    from {
      transform: translate(-50%, -50%) scale(0);
    }
    to {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  /* added */
  #part-2:hover, #part-3:hover {
    cursor: pointer;
  }